body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

section {
    width: 30%;
    text-align: center;
}

section img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section h3 {
    margin: 0;
    margin-bottom: 20px;
}

section p {
    margin: 0;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}
